.toDoBoard {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
}

.addToDoContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(236, 236, 236, 0.3);

    border-radius: 15px;
    height: 95%;
    width: 30px;
}

.addToDoContainerBtn {
    color: #FFF;
    font-size: 20px;
    background-color: transparent;

    border: none;

    cursor: pointer;
}