@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    max-height: 100vh;
    max-width: 100%;

    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.9);

    background-image: radial-gradient(circle at 1px 1px, #2E2E2E 1px, #000 0);
    background-position: center center;
    background-size: 20px 20px;
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10vh;
    width: 100%;
}

.pageTitle,
.footerText {
    background-color: #000;
    letter-spacing: 1px;
}


main {
    display: flex;
    align-items: center;

    height: 80vh;
    width: 100%;
}

.toDoBoard {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: auto;

    padding: 0 5px;
    max-height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 2.5px;
}

::-webkit-scrollbar-track {
    background: #363636;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.toDoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5px);
    border: 1px solid rgba(255, 255, 255, 0.04);

    padding: 10px;
    margin: 10px;
    height: 725px;
    width: 475px;
}

.toDoTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 8%;
}

.toDoTitleInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: absolute;

    padding: 10px 0 10px 0;
    height: 100%;
    width: 75%;
}

.toDoTitleInput {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #CCC;
    border-radius: 10px 0 0 10px;

    background-color: transparent;

    color: #FFF;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 700;

    padding-left: 10px;
    height: 100%;
    width: 90%;

    outline: none;
}

.toDoTitleCheckBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #CCC;
    border-radius: 0 10px 10px 0;

    background-color: transparent;
    color: #FFF;
    font-size: 20px;

    height: 100%;
    width: 10%;

    cursor: pointer;
}

.toDoTitle {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.hidden {
    display: none;
}

.toDoContainerActions {
    position: absolute;
    right: 10px;
}

.editToDoTitleBtn {
    background-color: transparent;
    border: none;

    color: #FFF;
    font-size: 20px;

    cursor: pointer;
}

.deleteContainerBtn {
    background-color: transparent;
    border: none;
    margin-left: 10px;

    color: #FFF;
    font-size: 20px;

    cursor: pointer;
}

.toDoList {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;

    padding: 10px 10px 0 10px;
    max-height: 85%;
    width: 100%;
}

.toDoCard {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #000;
    background-color: #FFF;

    list-style: none;

    padding: 0 10px 0 0;
    margin-bottom: 10px;
    border-radius: 10px;
    min-height: 125px;
    width: 100%;
}

.dragBar {
    display: flex;
    align-items: center;

    background-color: #1C2F53;

    padding-left: 4px;
    border-radius: 7px 0 0 7px;
    height: 100%;
    width: 30px;
}

.dragBtn {
    background-image: radial-gradient(circle at 1px 1px, #83B0F8 1px, #1C2F53 0);
    background-position: center center;
    background-size: 5px 5px;

    border: none;
    height: 45px;
    width: 20px;

    cursor: grab;
}

.toDoCheck {
    height: 20px;
    width: 20px;
}

.toDoCardText {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 115px;
    width: 325px;
}

.toDoCardTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    height: 55px;
}

.toDoCardTitleInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.toDoCardTitleInput {
    background-color: transparent;

    border: 1px solid #CCC;
    border-radius: 10px 0 0 10px;
    
    padding-left: 10px;
    height: 30px;
    width: 250px;

    outline: none;
}

.editToDoCardTitleBtn {
    position: absolute;
    right: 5px;
}

.toDoCardTitleCheckBtn, .editToDoCardTitleBtn {
    background-color: transparent;
    border: none;

    color: #000;
    font-size: 20px;

    cursor: pointer;
}

.toDoCardTitleCheckBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #CCC;
    border-radius: 0 10px 10px 0;

    height: 30px;
    width: 30px;
}

.toDoCardTitle {
    letter-spacing: 1px;
}

.toDoDescription {
    background-color: #f8f8f8;
    font-size: 16px;

    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;

    width: 100%;
    height: 100px;
    resize: none;

    outline: none;
}

.toDoDone {
    font-style: italic;
    text-decoration: line-through;
    color: #888;
}

.deleteCardBtn {
    background-color: transparent;
    border: none;

    color: #000;
    font-size: 20px;

    cursor: pointer;
}

.addToDoCard {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(236, 236, 236, 0.3);

    border-radius: 15px;
    height: 30px;
    width: 335px;
}

.addToDoCardBtn {
    color: #FFF;
    font-size: 20px;
    background-color: transparent;

    border: none;

    cursor: pointer;
}

.addToDoContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(236, 236, 236, 0.3);

    border-radius: 15px;
    height: 725px;
    width: 30px;
}

.addToDoContainerBtn {
    color: #FFF;
    font-size: 20px;
    background-color: transparent;

    border: none;

    cursor: pointer;
}